redis[aioredis]
redisvl

msgpack

clickhouse-driver

psycopg2-binary
asyncpg
pgvector

pika
aio_pika

requests
beautifulsoup4
selenium
scrapy
playwright
scrapy-playwright

numpy
pandas
scikit-learn
scipy

num2words

sentence-transformers

mlflow
dask[complete]

loguru

shap
optuna
psutil
boto3

pydantic
# pydantic[email]
pydantic-settings

alembic
sqlalchemy
