version: "3"
services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    hostname: rabbitmq_test
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "5670:5672"
      - "15670:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  rabbitmq_data:
